@import 'bulma/css/bulma.css';
/* @import '@fortawesome/fontawesome-free/css/all.css'; */

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media print {
	.no-print {
    display: none;
  }
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: auto;
}

ol li {
	list-style-type: none;
}

input.text {
	width: 12em;
	padding: 0.3em 0.2em;
	outline: none;
	border: 0.5px solid grey;
	color: black;
	border-radius: 2px;
	background-color: white;
}
input.text:disabled {
	border: 0.5px solid rgb(160, 160, 160);
	color: rgb(150, 150, 150);
}

select {
	width: 12em;
	padding: 0.3em 0.2em;
	border: 0.5px solid grey;
	outline: none;
	border-radius: 2px;
	background-color: white;
}