@import 'bulma/css/bulma.css';

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


body {
  width: 100vw;
  min-height: 100vh;
  /*background-color: beige; */
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
}

ol li {
	list-style-type: none;
}

input.text {
	width: 12em;
	padding: 0.3em 0.2em;
	outline: none;
	border: 0.5px solid grey;
	border-radius: 2px;
	background-color: white;
}